In [9]:
#Importando pandas 
import pandas as pd

In [10]:
#Abrindo o csv, passando sua localidade, passando sua codificação, passando que ele é separado por ';' e passando a onde seu cabeçalho começa  
df = pd.read_csv("/home/mnetto/Documents/Python/Pandas/Dados aula 1.csv", encoding = "UTF-8", sep= ";", header=0)

In [11]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [16]:
#selecionando algumas colunas, usecols determina quais colunas usar 
df = pd.read_csv("/home/mnetto/Documents/Python/Pandas/Dados aula 1.csv", encoding = "UTF-8", sep= ";", usecols=["AddressID","AddressLine1"])

In [17]:
df.head()

   AddressID          AddressLine1
0          1         1970 Napa Ct.
1          2    9833 Mt. Dias Blv.
2          3  7484 Roundtree Drive
3          4      9539 Glenside Dr
4          5         1226 Shoe St.

In [20]:
#Lendo X linhas do csv, nrows determina o número de linhas 
df = pd.read_csv("/home/mnetto/Documents/Python/Pandas/Dados aula 1.csv", encoding = "UTF-8", sep= ";",usecols=["AddressID","AddressLine1"], nrows=200)

In [23]:
df.head(), df.shape

(   AddressID          AddressLine1
 0          1         1970 Napa Ct.
 1          2    9833 Mt. Dias Blv.
 2          3  7484 Roundtree Drive
 3          4      9539 Glenside Dr
 4          5         1226 Shoe St.,
 (200, 2))