In [1]:
import pandas as pd

In [2]:
dados = pd.read_excel("/home/mnetto/Documents/Python/Pandas/Dados.xlsx")

In [3]:
dados.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0

In [5]:
#Selecionando uma coluna por índice 
dados["MiddleName"].head()

0      J
1    Lee
2    NaN
3    NaN
4      A
Name: MiddleName, dtype: object

In [6]:
#Selecionando N colunas por índice 
dados[["MiddleName", "LastName"]].head()

  MiddleName    LastName
0          J     Sánchez
1        Lee       Duffy
2        NaN  Tamburello
3        NaN     Walters
4          A    Erickson

In [7]:
#Selecionando por notação de ponto 
dados.MiddleName.head()

0      J
1    Lee
2    NaN
3    NaN
4      A
Name: MiddleName, dtype: object

In [10]:
#Adicionando uma nova coluna 
dados["Nome_completo"] = dados["FirstName"] + " " + dados["LastName"]

In [11]:
dados.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,Nome_completo
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0,Ken Sánchez
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1,Terri Duffy
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0,Roberto Tamburello
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0,Rob Walters
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0,Gail Erickson