In [1]:
import pandas as pd 
df = pd.read_csv("/home/mnetto/Documents/Python/Pandas/bank.csv", encoding= "UTF-8", sep= ";")

In [3]:
#Forma antiga 
df[["job", "marital"]].head()

           job  marital
0   unemployed  married
1     services  married
2   management   single
3   management  married
4  blue-collar  married

In [4]:
#Usando o filer
df.filter(items= ["job", "marital"]).head()

           job  marital
0   unemployed  married
1     services  married
2   management   single
3   management  married
4  blue-collar  married

In [5]:
#Usando like 
df.filter(like="day").head()

   day  pdays
0   19     -1
1   11    339
2   16    330
3    3     -1
4    5     -1

In [7]:
#Usando regex 
df.filter(regex=".day.").head()

   pdays
0     -1
1    339
2    330
3     -1
4     -1