In [1]:
import pandas as pd 
df = pd.read_csv("/home/mnetto/Documents/Python/Pandas/bank.csv", encoding= "UTF-8", sep= ";")

In [7]:
#VEtores lógicos no loc 
df.head(3).loc[[True, False, True]]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no

In [8]:
#Como o pandas realiza operações lógicas no datagrame 
df.marital == "single"

0       False
1       False
2        True
3       False
4       False
        ...
4516    False
4517    False
4518    False
4519    False
4520     True
Name: marital, Length: 4521, dtype: bool

In [10]:
#FIltrando
df[df.marital == "single"].head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no

In [11]:
#Filrando com E 
df[(df.marital == "single") & (df.education == "primary")].head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
48,32,entrepreneur,single,primary,yes,-849,yes,yes,cellular,4,feb,204,1,-1,0,unknown,no
87,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521,2,-1,0,unknown,no
99,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736,1,-1,0,unknown,yes
103,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown,no

In [13]:
df[(df.marital == "single") & (df.education == "primary")][["age", "job"]].head()

     age           job
18    25   blue-collar
48    32  entrepreneur
87    35   blue-collar
99    31    unemployed
103   57      services

In [17]:
#Filtrando com OU 
df[(df.marital == "married") & (df.education == "primary") | (df.education == "secondary")].head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no