In [2]:
import pandas as pd 
import numpy as np

CRIANDO SÉRIES

In [3]:
#Criando a partir de listas
pd.Series([1,2,3,4,5])
#dtype = int64

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#Mudando o index 
pd.Series([1,2,3,4,5], index=[8,12,13,2,1])

8     1
12    2
13    3
2     4
1     5
dtype: int64

In [5]:
pd.Series([1,2,3,4.3,5.1])
#dtype = float64

0    1.0
1    2.0
2    3.0
3    4.3
4    5.1
dtype: float64

In [6]:
pd.Series([1,2,3,4.3,5.1,"91"])
#dtype = object

0      1
1      2
2      3
3    4.3
4    5.1
5     91
dtype: object

In [7]:
#Criando a partir de dicionários 
pd.Series({"a":1,"b":2,"c":3})

a    1
b    2
c    3
dtype: int64

ACESSANDO AS INFORMAÇÕES

In [8]:
s = pd.Series({"a":1,"b":2,"c":3})

In [9]:
#Acessando pelo índice 
s["a"],s["b"]

(1, 2)

In [10]:
#acessando como listas 
s[0],s[1]

(1, 2)

In [11]:
s[0:3]

a    1
b    2
c    3
dtype: int64

In [12]:
s[["a","b"]]

a    1
b    2
dtype: int64

DANDO NOME PARA A SÉRIE

In [13]:
SerieComNome = pd.Series(np.random.randn(5), name= "Valores")

In [14]:
SerieComNome

0    0.850356
1   -1.039171
2    1.158361
3    0.006185
4   -1.495394
Name: Valores, dtype: float64

Séries como array

In [15]:
SerieComNome.to_numpy

<bound method IndexOpsMixin.to_numpy of 0    0.850356
1   -1.039171
2    1.158361
3    0.006185
4   -1.495394
Name: Valores, dtype: float64>

In [16]:
SerieComNome.array

<PandasArray>
[ 0.8503556128416832, -1.0391706870615547,  1.1583611633099302,
  0.0061848480256373, -1.4953943982743851]
Length: 5, dtype: float64

OPERAÇÕES MATEMATICAS

In [17]:
a = pd.Series(np.random.randn(5))
b = pd.Series(np.random.randn(5))

In [18]:
a,b

(0    0.142114
 1   -0.109086
 2   -0.692738
 3   -0.198444
 4    1.698120
 dtype: float64,
 0   -1.163175
 1   -1.588897
 2   -1.009050
 3    1.210030
 4    1.064379
 dtype: float64)

In [19]:
a + 1

0    1.142114
1    0.890914
2    0.307262
3    0.801556
4    2.698120
dtype: float64

In [20]:
b*3

0   -3.489526
1   -4.766690
2   -3.027149
3    3.630091
4    3.193138
dtype: float64

In [21]:
a ** b

0    9.674596
1         NaN
2         NaN
3         NaN
4    1.757007
dtype: float64

In [23]:
#Média 
np.average(a)

0.16799321218486113

In [24]:
#Desvio padrão
np.std(b)

1.187498618444891

FILTROS

In [25]:
a[a>1]

4    1.69812
dtype: float64

In [27]:
b[b<a]

0   -1.163175
1   -1.588897
2   -1.009050
4    1.064379
dtype: float64

In [28]:
b[[True,False,False,True,False]]

0   -1.163175
3    1.210030
dtype: float64

ABRINDO O ARQUIVO CASAS PARA ALUGAR

In [29]:
alugueis = pd.read_csv("/home/mnetto/Documents/Python/houses_to_rent.csv")

In [30]:
alugueis

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [32]:
type(alugueis["rooms"])
#É uma série

pandas.core.series.Series