In [2]:
import pandas as pd 
import numpy as np

In [5]:
alugueis = pd.read_csv("/home/mnetto/Documents/Python/houses_to_rent.csv")
alugueis.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

UTILIZANDO UMA BIBLIOTECA E A FUNÇÃO RENAME

In [8]:
colunas = {"city":"cidade", "area":"area_m2", "rooms":"quartos", "bathroom":"banheiros"} 

alugueis.rename(columns= colunas).head()

,Unnamed: 0,cidade,area_m2,quartos,banheiros,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [9]:
novos_nomes = ["indice", "cidade", "area_m2", "quartos", "banheiros", "vagas_estacionamento", "andar", "aceita_animais", "mobiliado", "hoa",
"valor_aluguel", "taxas", "seguro_incendio", "total"]

colunas = dict(zip(alugueis.columns.to_list(), novos_nomes))

alugueis.rename(columns = colunas).head()

,indice,cidade,area_m2,quartos,banheiros,vagas_estacionamento,andar,aceita_animais,mobiliado,hoa,valor_aluguel,taxas,seguro_incendio,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

TRATABDO OS DADOS ATRAVÉS DO ATRIBUTO COLUMNS

In [10]:
alugueis.columns = [x.replace(" ", "_").lower() for x in alugueis.columns.to_list()] 
alugueis.head()

,unnamed:_0,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"