In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.DataFrame(np.random.randn(3, 3), index = range(5, 8), columns=[*"ABC"])

          A         B         C
5 -1.095627  0.598901 -0.474935
6  1.061640  2.230814  0.427261
7  1.156500  0.009800 -1.389266

In [3]:
datas = pd.date_range('08/01/2020', periods = 3)

d = pd.DataFrame(np.random.randn(3, 3), index = datas, columns=[*"ABC"])

In [4]:
d

                   A         B         C
2020-08-01  0.113625  0.118704  0.892934
2020-08-02  0.570693 -0.291782 -0.052210
2020-08-03  0.953145  0.771289 -0.994469

In [5]:
d.A

2020-08-01    0.113625
2020-08-02    0.570693
2020-08-03    0.953145
Freq: D, Name: A, dtype: float64